@CHARSET "ISO-8859-1";

html {background-color: black;
        background-image: url("killme.gif");
        background-size: cover;
        background-repeat: space;
       
        
}

#navigation {padding: px;
        text-align:center;
        vertical-align: middle;
background-color: #000000;
color:#FFFFFF;
        border-top-style: groove;
        border-right-style: solid;
        border-bottom-style: groove;
        border-left-style: solid;
    }


#navigation a:link{color:#ffffff;}
#navigation a:visited {color:#ffffff;}
#navigation a:hover {color:#dadada}

#navigation li {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        float: middle;
        width: 5%;
}

#navigation li:hover {background-color: #888888;
        text-decoration: none;
        float:middle;
        border:groove;
        border-spacing: 0px;
        border-width:0px;

       
}

#nameplate {padding: 5px;
color: #ffffff9c;
vertical-align: right;
text-align: right;

}

#info {padding: 15px;
        color: #FFFFFF;
}

#info li {display:table;
        color: #ffffff;
text-align: center;
vertical-align:middle;
float: left;
width: 33.3333px;}

#info li:hover {background-color: #ffffff00;
text-decoration: aqua}

#projectlists {
        padding: 2px;
        display:table;
        text-align: left;
        vertical-align: middle;
        float: middle;
        background-color: #979797;
        width: 33%; 
}

#footer {
        padding: 15px;
        color: aliceblue;
        text-align: end;

}

#projectlists th {
        border: 3px solid #ffffff;
       
}

#projectlists td {border: 1px solid #ffffff;

}


#leavenow {
        padding: 2px;
        text-align: center;
        vertical-align: middle;
        float: middle;
        position: static;
}

table {
        border-collapse: collapse;
}