@CHARSET "ISO-8859-1";

html {background-color: black;
        background-image: url("environ.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
}

#navigation {padding: 15px;
        text-align:center;
        vertical-align: middle;
background-color: #00000091;
color:#FFFFFF;
}

#navigation a:link{color:#ffffff;}
#navigation a:visited {color:#ffffff;}

#navigation li {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        float: middle;
        width: 10%;
        border: 1px solid powderblue;
}

#navigation li:hover {background-color: #1b1000bd;
        text-decoration: none;

}

#nameplate {padding: 5px;
color: #ffffff9c;
vertical-align: right;
text-align: right;

}

#info {padding: 15px;
        color: #FFFFFF;
}

#info li {display:table;
        color: #ffffff;
text-align: center;
vertical-align:middle;
float: left;
width: 33.3333px;}

#info li:hover {background-color: #ffffff00;
text-decoration: aqua}

#projectlists {
        padding: 2px;
        display:table;
        text-align: left;
        vertical-align: middle;
        float: middle;
        background-color: #979797;
        width: 33%; 
}

#footer {
        padding: 15px;
        color: aliceblue;
        text-align: end;
        vertical-align: right;
        float: end;
        position: static;
}

#projectlists th {
        border: 3px solid #ffffff;
       
}

#projectlists td {border: 1px solid #ffffff;

}