@CHARSET "ISO-8859-1";

html {background-color: black;
        background-image: url("lucio.png");
        background-repeat: no-repeat;
        background-size: cover;
        
}

#navigation {padding: 5px 10px 15px 10px;
background-color: #00000091;
color:#FFFFFF;
}

#navigation a:link{color:#ffffff;}
#navigation a:visited {color:#ffffff;}

#navigation li {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        width: 25%;
}

#navigation li:hover {background-color: #8d55005e;
        text-decoration: none;

}
